@import "../../assets/sass/main.scss";
.header__banner {
     .banner__img {
          position: relative;
          img {
               width: 100%;
          }
          .leanOn__banner {
               position: absolute;
               bottom: 20%;
               left: 10%;
               .search__banner {
                    .form-control {
                         box-shadow: none;
                         border: none;
                         padding: 10px;
                    }
                    .input-group-append {
                         .input-group-text {
                              color: $color-red-0;
                              background-color: $color-white-0;
                              padding: $pd-1;
                              &:hover {
                                   background-color: $color-red-0;
                                   color: $color-white-0;
                              }
                         }
                    }
               }
               .para__leanOn {
                    color: $color-white-0;
               }
               .para__leanOn h1 {
                    font-weight: $fw-bold-0;
                    letter-spacing: 1px;
               }
               .para__leanOn p {
                    font-size: $fs-0;
               }
               @include responsive("small") {
                    .para__leanOn {
                         display: none;
                    }
               }
               @include responsive("small") {
                    width: 80%;
                    bottom: 30%;
               }
          }
     }
     .bg__linear {
          background: linear-gradient(-45deg, $color-red-0, $color-red-2);
          .content_linear {
               width: 90%;
               margin: auto;
          }
          .spread__color {
               height: 80px;
               .drop__item {
                    display: flex;
                    justify-content: center;
               }
               .icon__header {
                    line-height: 80px;
                    font-size: 45px;
                    color: $color-white-0;
               }
               .para__header {
                    padding-left: 10px;
                    color: $color-white-0;
                    font-size: $fs-0;
                    padding-top: 20px;
               }
          }
     }
}
.bg__linear {
     @include responsive("large") {
          .icon__header {
               display: none;
          }
     }
     @include responsive("medium") {
          .content_linear {
               display: none;
          }
          .form__search {
               display: none;
          }
     }
}
