@import "../../assets/sass/main.scss";

.course-item .item .img {
     border-radius: 0.75rem;
}

.course-item .item .img .info {
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     opacity: 0;
     visibility: hidden;
     transform: scale(0.8);
     transition: all 0.4s;
}

.course-item .item .img:hover .info {
     opacity: 1;
     visibility: visible;
     transform: scale(1);
}

.course-item .item .img .info i {
     width: 4.5rem;
     height: 4.5rem;
     border-width: 2px !important;
}

.course-item .item .img::before {
     content: "";
     width: 0;
     height: 100%;
     background: linear-gradient(to right, $color-red-2, $color-red-0);

     position: absolute;
     top: 0;
     left: -12.5rem;
     transform: skewX(45deg);
     transition: all 0.4s;
     opacity: 0.9;
}

.course-item .item .img:hover::before {
     width: 300%;
}

//
.container h4 {
     font-size: 18px;
     color: #4a4a4a;
     margin: 0;
}
.container > h1 {
     font-size: 18px;
     margin-bottom: 1rem;
     letter-spacing: 1.7px;
     text-transform: uppercase;
     // color: #ec7532;
     position: relative;
     border-bottom: 1px solid #dfdfdf;
     padding-top: 30px;
     padding-bottom: 1rem;
}
.container > h1::after {
     content: "";
     width: 120px;
     display: block;
     height: 4px;
     background: linear-gradient(to right, $color-red-2, $color-red-0);

     box-shadow: 0 0 20px 0 $color-red-2;
     /* dùng position bỏ qua hết các padding */
     position: absolute;
     bottom: -1px;
     left: 0;
     transition: all 0.3s linear;
}

.course-item .content-hover a {
     font-size: 13px;
     display: block;
     margin-bottom: 10px;
     cursor: pointer;
     letter-spacing: 4px;
     text-transform: uppercase;
     color: #fff;
}
.course-item .content-hover p {
     font-size: 16px;
     display: block;
     color: #fff;
}
