@import "../../assets/sass/main.scss";

.detail-course {
     .address-link {
          font-size: 18px;
          margin-bottom: 2rem;
          letter-spacing: 1.7px;
          text-transform: uppercase;
          border-bottom: 1 px solid #dfdfdf;
          padding-top: 2.5rem;
          color: black;
          a {
               text-decoration: none;
               color: black;
          }

          .fas {
               padding: 0.5rem;
          }
     }
     .card-img-top {
          width: 100%;
          height: auto;
     }
     .borderless td,
     .borderless th,
     .borderless tr {
          border: none;
     }
     .borderless {
          .title-tablle {
          }
     }
}
