// không chứa code css chỉ chứa đường dẫn tới các file con

// helper
@import "./Helper/vairiable";
@import "./Helper/mixin";

//Vendor
//code thư viện

//Base
@import "./Base/reset";

//Components
@import "./Components/button";

//Layout

//Page

//Theme
// @import './Theme/Dark/';
// @import './Theme/Halloween/';
.container {
     max-width: 72rem;
     margin: 0 auto;
     padding: 0 0.9375rem;
}
.row {
     display: flex;
     flex-wrap: wrap;
     margin: 0 -0.9375rem;
}
